@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    scroll-behavior: smooth;
}

*::-webkit-scrollbar{
    display: none;
}

.back{
    background-image: url('2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.back h1{
    padding-top: 500px;
    text-align: center;
    color: rgb(170, 170, 170);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.back h2{
    text-align: center;
    color: rgb(170, 170, 170);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
}


.project {
    background-color: #f1f1f1;
    height: 100%;
}

.project h1{
    padding-top: 20px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
    text-decoration: underline;
}

.card1{
    padding-top: 20px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.text1{
    margin-right: 20px;
}

.text1 p{
    margin-top: 10px;
    text-align: center;
}

.text2{
    margin-left: 20px;
}

.text2 p{
    margin-top: 10px;
    text-align: center;
}

.card2{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.btn{
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.btn:hover{
    color: white;
    text-decoration: none;
    background-color: rgb(32, 31, 31);
}

.about{
    background-color: lightcoral;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container .card {
    position: relative;
    border-radius: 10px;
}

.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
}

.container .card:nth-child(1) .icon {
    background: #e07768;
}

.container .card:nth-child(2) .icon {
    background: #6eadd4;
}

.container .card:nth-child(3) .icon {
    background: #4aada9;
}


.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    cursor: pointer;
}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content i{
    max-width: 100px;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .card .face.face2 .content h5 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 17px;
    text-align: center;
    color: #414141;
    margin-bottom: 20px;
} 

.container .card .face.face2 .content h5 a{
    background-color: black;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
}

.container .card .face.face2 .content h5 a:hover{
    background-color: rgb(39, 38, 38);
}

.container a {
    text-decoration: none;
    color: #414141;
}

@media(max-width:430px){
    .card1{
        display: inline-block;
        margin: 0 8.5%;
    }
    .card2{
        display: inline-block;
        margin:0 8.5%;
    }
    .text1{
        margin-right: 0;
    }
    .text1 p{
        margin-bottom: 10px;
    }
    .text2{
        margin-right: 0;
    }
}